<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="/content/images/favicon.ico" />
    <link href="/content/bootstrap.min.css" rel="stylesheet"/>
    <link href="/content/clean-blog.min.css" rel="stylesheet"/>
    <link href="/content/font-awesome.min.css" rel="stylesheet"/>
    <link href="/content/site.css" rel="stylesheet"/>
    <script src="/scripts/jquery-1.10.2.min.js"></script>
    <script src="/scripts/jqBootstrapValidation.js"></script>
    <!-- <script src="/scripts/jquery-1.10.2.intellisense.js"></script> -->
    <script src="/scripts/modernizr-2.6.2.js"></script>
    <script src="/scripts/respond.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/clean-blog.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">Rafał Pieńkowski</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/Home/Contact">Home</a></li>
                    <li><a href="/Home/Contact">O mnie</a></li>
                    <li><a href="/Home/Contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro-header" style="background-image: url('/Content/Images/header_bg.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-1">
                  <div class="post-heading">
                      <span class="subheading">{{ site.title }}</span>
                      <hr class="small" />
                      <span class="meta">{{ site.description }}</span>
                  </div>
              </div>
              <div class="col-lg-4 col-md6 .visible-md- visible-lg">
                  <div class="post-heading">
                      <img src="~/content/images/rafalpienkowski.jpg" class="img-responsive img-circle" alt="Rafał Pieńkowski" />
                  </div>
              </div>
            </div>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">&copy; 2018 - Rafał Pieńkowski</span>
      </footer>
    </main>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
